* {
  margin: 0;
  border: 0;
}

*:focus {
    outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

h1 {
  font-size: 60px;
}
header {
  padding: 10px 0;
}

header h2 {
  float: right;
}

h1, .hop-div, .hop-list {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.input-div {
  margin-bottom: 20px;
}

.hop-div input {
  height: 50px;
  font-size: 25px;
  border-radius: 25px;
  background-color: black;
  color: white;
}

#text-input {
  padding-left: 5px;
  width: 200px;
  margin: 0 auto;
  border-bottom: 10px solid white;
}

.list-item {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  height: 30px;
}

.list-item:first-letter{
  text-transform:capitalize;
}

.red {
  color: red;
}

.hop-list {
  padding: 0;
  list-style-type: none;
  height: 100%;
  overflow-y: auto;
}

h2 {
  border-top: 1px solid white;
}
